# GakuNin RDM Environment Configuration
# Set to 'true' to use the development environment of GakuNin RDM
VITE_USE_GRDM_DEV_ENV=false

# Application Configuration
DMP_EDITOR_HOST=0.0.0.0
DMP_EDITOR_PORT=3000
DMP_EDITOR_BASE=/
